<div class="form-group">
    <input type="text" class="form-control" placeholder="Name" maxlength="20" (input)="nameChange($event)" [(ngModel)]="nameValue">
    <input type="text" class="form-control" placeholder="Surname" maxlength="20" (input)="lastNameChange($event)" [(ngModel)]="surnameValue">
    <div class="colorPicker">
      <p>Color:</p>
        <input matInput type="color" class="color-input" id="font-color" (input)="service.colorChange($event)" [(ngModel)]="defaultWhite">
    </div>
    <div class="fontColorPicker">
      <span matTooltip="the color may be difficult to read for the selected background color" *ngIf="service.warning" class="material-icons red-color">warning </span>
      <p>Font color:</p>
      <input matInput type="color" class="color-input" id="font-color" (input)="service.fontColorChange($event)" [(ngModel)]="defaultBlack">
    </div>
    <mat-checkbox class="shape-check" (change)="service.squareChange($event.checked)">Square</mat-checkbox>
    <button type="button" class="btn btn-danger clear" (click)="clearAll()">Clear preview <i class="bi bi-x-lg"></i></button>
    
    <mat-form-field hidden="true">
      <input matInput type="text">
    </mat-form-field>
  </div>
