<div #screen class="avatar" id="avatar" >
  <img *ngIf="this.service.selectedIcon" width="{{this.service.size}}" height="auto" src="{{this.service.selectedIcon}}">
  <h1 *ngIf="this.service.firstNameLetter || this.service.firstLastNameLetter" id="initials">{{ this.service.firstNameLetter }}{{ this.service.firstLastNameLetter }}</h1>
</div>

<div class="button">
<button mat-raised-button color="primary" [disabled]="this.service.buttonEnabled" class="download-btn" (click)="download()">Download</button>
</div>

<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>