.initials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 2000px;
    min-width: 1100px;
    margin: 0;
}
.form {
    display: flex;
    flex-direction: column;
}
  app-avatar {
    width: 33.3%;
    margin-left: 200px;
}