<div class="initials">
    <app-avatar></app-avatar>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" maxlength="20" (input)="service.nameChange($event)" aria-label="Username" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Surname" maxlength="20" (input)="service.lastNameChange($event)" aria-label="Username" aria-describedby="basic-addon1">
        <div class="colorPicker">
            <p>Color:</p>
            <input matInput type="color" class="color-input" id="font-color" (input)="service.colorChange($event)" value="#ffffff">
        </div>
        <mat-checkbox class="shape-check" (change)="service.squareChange($event.checked)">Square</mat-checkbox>
        <input type="file" (change)="onFileChange($event)"/>
        <img *ngIf="service.imageUrl" [src]="service.imageUrl" class="image">
    </div>

    <mat-form-field hidden="true">
        <input matInput type="text">
    </mat-form-field>

</div>