<div class="container">
        <div class="leftBtns">
                <button type="button" class="btn btn-success">
                        <i class="bi bi-caret-left"></i>

                </button>
                <button type="button" class="btn btn-success">
                        <i class="bi bi-caret-left"></i>
                </button>
        </div>
        <div class="avatarPreview">
    
        </div>
        <div class="rightBtns">
                <button type="button" class="btn btn-success">
                        <i class="bi bi-caret-right"></i>
                </button>
                <button type="button" class="btn btn-success">
                        <i class="bi bi-caret-right"></i>
                </button>
        </div>
</div>

