<div #screen class="avatar" id="avatar" >
  <div class="customCharacter" *ngIf="DataService.imageUrl">
    <img [src]="DataService.imageUrl" height="auto" width={{DataService.imgSize}}>
  </div>
  <div class="currentCharacter" *ngIf="DataService.selectorButtonEnabled == false">
    <img src="../../../../assets/templates/Head.svg" style="position: absolute" height="auto" width={{DataService.imgSize}}>
    <img [src]="templateService.hairs[DataService.currentHairIndex]" style="position: absolute;" height="auto" width={{DataService.imgSize}}>
    <img [src]="templateService.bodies[DataService.currentBodyIndex]" height="auto" width={{DataService.imgSize}}>
  </div>
    <h1 *ngIf="DataService.firstNameLetter || DataService.firstLastNameLetter" id="initials" [style.font-size.px]=DataService.initialsSize>{{ DataService.firstNameLetter }}{{ DataService.firstLastNameLetter }}</h1>
</div>

<div class="button">
<button mat-raised-button color="primary" [disabled]="DataService.downloadButtonEnabled" class="download-btn" (click)="download()">Download</button>
</div>

<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>