.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5% 5% 10% 10%;
    padding-bottom: 100px;
    width: max-content;
    height: max-content;
    box-shadow: 0 16px 40px  rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 3px;
    border-right: 10px solid blueviolet;
    border-left: 10px solid rgb(178, 96, 255);
}
.menu {
    width: 100%;
}
app-menu {
    display: flex;
    justify-content: center;
    margin: 20px;
}


