.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftBtns {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
}
.character {
    position: relative;
    display: flex; 
    justify-content: center; 
    top: 10px;
}
.imageDisabled {
    visibility: hidden;
}
.avatarPreviewDisabled {
    width: 70%;
    border: 2px solid rgb(194, 194, 194);
}
.avatarPreview {
    width: 70%;
    border: 2px solid green;
}
.rightBtns {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
}
.container {
    display: flex;
    justify-content: center;
    max-width: 360px;
    min-width: 360px;
    margin-top: 10px;
    height: 200px;
}