<div class="form">
    <div class="form-input">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="iconView">
            <mat-icon>more_vert</mat-icon>
        </button>
      <mat-menu #menu="matMenu">
          <span class="selectIcon">Select icon</span>
          <div class="matMenu-buttons">
            <button mat-icon-button *ngFor="let avatar of icons" value="{{avatar.image}}" (click)="selectIcon(avatar.image)" class="icon">
                <img width="80" height="60" class="images" [src]="avatar.image">
            </button>
          </div>
      </mat-menu>
      <div *ngIf="this.service.selectedIcon" class="iconPreview">
        <img width="40" height="40" class="images" [src]="this.service.selectedIcon">
      </div>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Pick avatar</mat-label>
                <mat-select [(value)]="this.service.selectedIcon">
                    <mat-option *ngFor="let avatar of icons" value="{{avatar.image}}">
                            <img width="40" height="30" class="images" [src]="avatar.image">
                    </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
</div>
<div class="initials">
    <app-avatar></app-avatar>
    <div class="form-group">

        <div class="sizePicker">
        <p class="size">Size:</p>
        <mat-slider 
        aria-label="unit(s)"
        (input)="getSliderTickInterval($event)"
        [max]="160"
        [min]="80"
        [(ngModel)]="this.service.size"></mat-slider>
        </div>

        <div class="colorPicker">
            <p>Color:</p>
            <input matInput type="color" class="color-input" id="color" (input)="colorChange($event)" value="#ffffff">
        </div>
        
        <mat-checkbox class="shape-check" (change)="squareChange($event.checked)">Square</mat-checkbox>
    </div>
</div>

